{% extends "base.html" %}
{% import 'macro.html' as m %}
{% block page_title %} Register {% endblock %}

{% block page_content %}
{{ m.heading('Register') }}
{{ m.show_flash() }}

<div class="container px-5 my-5">
    <form id="registerForm" action="{{ url_for('frontend.register') }}" method="post">

        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
        <div class="form-floating mb-3 validated">
            {{ m.render_field(field) }}
        </div>
        {% endfor %}

        <!--        <div class="form-floating mb-3">-->
        <!--            <input class="form-control" id="email" type="email" placeholder="Email" data-sb-validations="required,email" />-->
        <!--            <label for="email">Email</label>-->
        <!--            <div class="invalid-feedback" data-sb-feedback="email:required">Email is required.</div>-->
        <!--            <div class="invalid-feedback" data-sb-feedback="email:email">Email Email is not valid.</div>-->
        <!--        </div>-->

        <div class="d-grid mt-3">
            {{ form.submit(class_='btn btn-primary btn-lg') }}
        </div>
        <input type=hidden value="{{ next or '' }}" name=next>
        {{ form.hidden_tag() }}
    </form>

    <div class="container-md pt-5 text-center">
        <p>Already a member? <a href="{{ url_for('frontend.login') }}">Log in</a></p>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    <script>$("#register").addClass('active')</script>
{% endblock %}